table {
  width: 100%;
}

td,
th {
  width: 15%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.delete {
  cursor: pointer;
  color: #265417;
}

.delete:hover {
  color: rgb(255, 4, 4);
}

.edit {
  cursor: pointer;
  color: #265417;
}

.edit:hover {

  color: #48742c;
}

.search {
  cursor: pointer;
  color: #265417;
}

.search:hover {
  color: #48742c;
}

#btnAgregar {
  border: 2px solid #265417;
  background-color: white;
  color: #dba31d;
  font-size: 15px;
  cursor: pointer;
  line-height: 30px;
}

#btnAgregar:hover {
  background: #48742c;
}